:root{
    --main-color:#666;
    --gray-color:#888;
    --white-color:#ccc;
    --black-color:#080808;
}
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--white-color);
}
h1{
    text-align: center;
}
h2{
    margin-bottom: 10px;
    text-align: center;
}
.contenedor{
    margin:50px 20px ;
    display: flex;
    justify-content: space-evenly;
}
.item{
    width: 40%;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid var(--gray-color);
    overflow: hidden;
}
.boleto-img{
    display: flex;
    width: 200px;
    margin: auto;
}

/*formato*/

form {
    display: flex;
    justify-content:center ;
    flex-wrap: wrap;

}
.presupuesto-label {
    margin-right: 10px ;
    font-size: 16px;
    font-family: times-new-roman;
}
.presupuesto-input{
    margin-left: 10px ;
    border: none;
    border-radius: 15px;
}
.inputs{
    display: flex;
}
input[type="button"], input[type="submit"]{
    margin:10px 5px 0 5px ;
    padding: 3px 30px;
    border-radius:5px;
    font-size: 16px;
    font-family:times-new-roman;
    border: none;
    cursor: pointer;
    background: var(--gray-color);
    color: var(--white-color);
}
input[type="button"]:hover , input[type="submit"]:hover{
    background: var(--main-color);
    color: var(--white-color);
}

/*respuesta*/
.retorno {
    display: flex;
    justify-content: center;
    margin: auto;
}
textarea[type="text"]{
    width: 80%;
    margin-top:10px ;
    padding: 15px;
}
