*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.contenedor{
	display: flex;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
}
.flex-item {
	/*display: flex;*/
	width: 50%;
	background: #ccc;
	margin: 50px 20px 0 20px;
	padding: 20px;
	text-align: center;
}
h2{
	color: blue;
}
.parrafo{
	align-content: center;
}
.lista{
	display: grid;
	justify-content: center;
}